


body{

}


.mydiv{


}

.mycontainer{

}

.mynav{


}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: #514B6E;

}

.mylink{
    font-family: var(--global--font-body);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 24px;
    color: var(--global--color-heading);
    padding: 0;
    position: relative;
    display: block;
    margin-left: 20px;

}

.mybtn{
 

    height: 50px;
    padding: 0 35px;
    cursor: pointer;
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #FF7D3B;
    border: 1px solid #FF7D3B;
    border-radius: 6px;
    margin-left: 30px;

}

.myschreiben{
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 14px;
    color: var(--global--color-heading);
font-family: var(--global--font-heading);
font-weight: 700;
margin: 0 0 28px;
color: #1F1845;

}

.mypara{

    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 35px;
    padding-right: 40px;
    font-weight: 400;
    color: #60698D;
}

.mybutton{
    height: 50px;
    padding: 0 35px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #FF7D3B;
    border: 1px solid #FF7D3B;
    border-radius: 6px;
    text-decoration: none;
}

.myimg{
    
}

.myparagraf{
font-family: var(--global--font-body);
font-size: 15px;
font-weight: 700;
line-height: 30px;
margin-bottom: 7px;
color: #FF7D3B;
}

.myschrift{
    font-size: 34px;
line-height: 1.5;
font-weight: 600;
margin-bottom: 13px;
text-transform: capitalize;
color: #342E57;
}

.myicon1{
color: #FF7D3B;
margin-left: 190px;
}

.mykuli{
    font-size: 20px;
font-weight: 700;
line-height: 42px;
margin-bottom: 10px;
text-transform: capitalize;
color: #1F1845;
}

.paragraf{
font-size: 16px;
font-weight: 400;
line-height: 1.8;
color: #60698D;
margin-bottom: 0;
}

.myicon2{
    color: #FF7D3B ;
    margin-left: 180px;
}

.myicon3{
    color: #FF7D3B ;
    margin-left: 180px; 
}

.myimage{

}

.paragraf1{
    font-family: var(--global--font-body);
font-size: 15px;
font-weight: 700;
line-height: 30px;
margin-bottom: 7px;
color: #FF7D3B;
text-transform: capitalize;
margin-left: 70px;
margin-top: 250px;
}

.mysentence{
    font-size: 34px;
line-height: 1.5;
font-weight: 700;
margin-bottom: 13px;
text-transform: capitalize;
margin: 0 0 28px;
color: #1F1845;
margin-left: 70px;
}

.paragraf2{
    font-size: 18px;
font-weight: 400;
line-height: 1.8;
margin-bottom: 0;
padding: 0;
color: #60698D;
margin-top: 0;
margin-left: 70px;
}

.myclick{
    height: 70px;
    padding: 0 60px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #FF7D3B;
    border: 1px solid #FF7D3B;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 70px;
    margin-bottom: 50px;
}

.myvierecke{
margin-bottom: 40px;
width: 90px;
height: 90px;
justify-content: center;
border-radius: 8px;
background-color: #FFF2EB;
display: flex;

}

.mysatz{
text-transform: capitalize;
font-family: var(--global--font-body);
font-size: 47px;
font-weight: 600;
color: #FF7D3B;
margin-bottom: 0;
line-height: 1.8;
margin-top: 0;
}

.mytitel{
font-family: var(--global--font-body);
text-transform: capitalize;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color:#201844;
margin-bottom: 10px;
}

.myphrase{
    font-family: var(--global--font-body);
font-size: 16px;
font-weight: 400;
line-height: 1.8;
margin-bottom: 0;
color:#60698D ;
}

.myfoto1{
    width: 90px;
height: 90px;
border-radius: 50%;
    border-radius: 50%;
 
margin-left: 300px;
margin-right: 300px;
}

.myfoto2{
  
    width: 90px;
    height: 90px;
    border-radius: 50%;
        border-radius: 50%;
        
   
  
   margin-right: 60px;
   margin-left: 320px;
    
}

.myfoto3{
   
    width: 90px;
    height: 90px;
    border-radius: 50%;
        border-radius: 50%;
        margin-right: 20px;
        margin-left:240px;
    
}

.myfoto4{
   
    width: 90px;
    height: 90px;
    border-radius: 50%;
        border-radius: 50%;
        margin-left: 70px;
    
   
}

.myfoto5{
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-radius: 50%;
      
   margin-right: 20px;
}

.myuntertitel{
font-family: var(--global--font-body);
font-size: 26px;
font-weight: 500;
line-height: 34px;
color: #BABDCD;
max-width: 80%;
margin: 0 auto 36px;

}

.myphrase{
    font-family: var(--global--font-body);
font-size: 16px;
line-height: 1.8;
font-weight: 500;
text-transform: capitalize;
color: #BABDCD;
margin-bottom: 0px;
}